*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 12%;
}

#subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-left: 14%;
    margin-top: 2%;
    font-size: 22px;
}

fieldset {
    border: 0;
}