*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 12%;
}

#subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-left: 15%;
    margin-top: 2%;
    font-size: 22px;
}

#check{
    display: inline-block;
}


fieldset {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    
    


}


body {
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-left: 32%;
    margin-top: 5%;
    justify-content: center;
    
}

input, select, textarea, button {
    border-radius: 6px;

}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.botao {
    font-size: 1.2em;
    background-color: silver;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px;
    text-shadow: 1px 1px 1px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.botao:hover {
    background-color: burlywood;
    box-shadow: inset 2px 2px 2px;
    text-shadow: none;

}


 #obs {
    font-size: 10px;
    width: 66%;
    margin-top: 50px;
    margin-inline: 2px;
    margin-bottom: -10px;
    
    
    
 }   

 #opcoes {
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin: 3rem 0 0 -3rem;
    width: 50%;
    margin-top: 5px;
    
 }

 .autoria {
    margin-top: 80px;
    margin-inline: 210px;
    text-decoration: dashed;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #333;
 }


 